<% include('../layouts/header.ejs') %>

<link rel="stylesheet" href="/styleALogin.css">
<title>Admin Login</title>
  <div class="box">
    <h2>Admin Login</h2>

    <% if(typeof message !== 'undefined') { %>
      <p style="color: red; margin-left: 25%; "><%= message %></p>
  <% } %>
  <% if (typeof logouted !== 'undefined') { %>
    <p style="color: rgb(5, 5, 5);margin-top: 10px; background-color: rgb(131, 202, 24);"><%= logouted %></p>
<% } %>
  
    <form action="" method="post">
      
     
      <div class="inputBox">
        <input type="text" name="email"  placeholder="Enter email" required>
        <span></span>
        <i></i>
      </div>

      <div class="inputBox">
        <input type="password" name="password"  placeholder="Enter password" required />
        <span></span>
        <i></i>
      </div>
      
      <input type="submit" value="submit" style="margin-top: 40px;" />
    </form>
  </div>

<% include('../layouts/footer.ejs') %>